{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/createreview.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
<div class="review_page_body">
<div class="review_header">
    <span class="title-brown">후기 작성</span>
    <span class="subtitle-brown">다른 혼놀러들을 위해 솔직한 후기를 남겨주세요!</span>
    
    <!-- 장소 DB내용으로 변경 필요-->
    <span class="subtitle-brown"><i class="fa-solid fa-location-dot"></i>  장소 정보:어글리 베이커리 연남점</span>
</div>
<form method="post" id="review-form">
    {% csrf_token %}
<div class="review_main">
    <div class="review_write">
        <div class="review_write_header">
            <span class="brown-dark-l">1. 방문 시간대</span>
            <span class="brown-light-s">해당 장소에 있었던 시간대를 모두 선택해주세요.</span>
        </div>
        <div class="time_box_group">
            <label class="time_box">
                <input type="checkbox" name="time" value="9" class="time_checkbox">
                <span class="subtitle-brown">9:00-10:00</span>
            </label>
            <label class="time_box">
                <input type="checkbox" name="time" value="10">
                <span class="subtitle-brown">10:00-11:00</span>
            </label>
            <label class="time_box">
                <input type="checkbox" name="time" value="11">
                <span class="subtitle-brown">11:00-12:00</span>
            </label>
            <label class="time_box">
                <input type="checkbox" name="time" value="12">
                <span class="subtitle-brown">12:00-13:00</span>
            </label>
            <label class="time_box">
                <input type="checkbox" name="time" value="13">
                <span class="subtitle-brown">13:00-14:00</span>
            </label>
            <label class="time_box">
                <input type="checkbox" name="time" value="14">
                <span class="subtitle-brown">14:00-15:00</span>
            </label>
            <label class="time_box">
                <input type="checkbox" name="time" value="15">
                <span class="subtitle-brown">15:00-16:00</span>
            </label>
            <label class="time_box">
                <input type="checkbox" name="time" value="16">
                <span class="subtitle-brown">16:00-17:00</span>
            </label>
            <label class="time_box">
                <input type="checkbox" name="time" value="17">
                <span class="subtitle-brown">17:00-18:00</span>
            </label>
            <label class="time_box">
                <input type="checkbox" name="time" value="18">
                <span class="subtitle-brown">18:00-19:00</span>
            </label>
            <label class="time_box">
                <input type="checkbox" name="time" value="19">
                <span class="subtitle-brown">19:00-20:00</span>
            </label>
            <label class="time_box">
                <input type="checkbox" name="time" value="20">
                <span class="subtitle-brown">20:00 이후</span>
            </label>
        </div>
    </div>
    <div class="review_write">
        <div class="review_write_header">
            <span class="brown-dark-l">2. 방문 목적 (복수 선택 가능)</span>
            <span class="brown-light-s">해당 장소를 방문한 목적을 선택해주세요.</span>
        </div>
        <div class="purpose_box_group">
            <label class="purpose_box">
                <input type="checkbox" name="purpose" value="study">
                <span class="subtitle-brown">공부</span>
            </label>
            <label class="purpose_box">
                <input type="checkbox" name="purpose" value="homework">
                <span class="subtitle-brown">과제</span>
            </label>
            <label class="purpose_box">
                <input type="checkbox" name="purpose" value="readbook">
                <span class="subtitle-brown">독서</span>
            </label>
            <label class="purpose_box">
                <input type="checkbox" name="purpose" value="eat">
                <span class="subtitle-brown">혼밥</span>
            </label>
            <label class="purpose_box">
                <input type="checkbox" name="purpose" value="date">
                <span class="subtitle-brown">데이트</span>
            </label>
            <label class="purpose_box">
                <input type="checkbox" name="purpose" value="looking">
                <span class="subtitle-brown">구경</span>
            </label>
            <label class="purpose_box">
                <input type="checkbox" name="purpose" value="work">
                <span class="subtitle-brown">작업</span>
            </label>
            <label class="purpose_box">
                <input type="checkbox" name="purpose" value="rest">
                <span class="subtitle-brown">휴식</span>
            </label>
            <label class="purpose_box">
                <input type="checkbox" name="purpose" value="waiting">
                <span class="subtitle-brown">대기</span>
            </label>
            <label class="purpose_box">
                <input type="checkbox" name="purpose" value="beforemeeting">
                <span class="subtitle-brown">모임 전</span>
            </label>
            <label class="purpose_box">
                <input type="checkbox" name="purpose" value="other">
                <span class="subtitle-brown" >기타</span>
            </label>
        </div>
    </div>
    <div class="review_write">
        <div class="review_write_header">
            <span class="brown-dark-l">3. 눈치지수</span>
            <span class="brown-light-s">혼자 있는 동안 눈치가 많이 보였나요?</span>
        </div>
        <div class="sense_score_box_group">
            <label class="sense_score_box">
                <input type="radio" name="sense_score" value="1">
                <span class="brown-dark-m">낮음</span>
                <span class="brown-dark-m">(괜찮았어요)</span>
            </label>
            <label class="sense_score_box">
                <input type="radio" name="sense_score" value="2">
                <span class="brown-dark-m">보통</span>
                <span class="brown-dark-m">(그저 그래요)</span>
            </label>
            <label class="sense_score_box">
                <input type="radio" name="sense_score" value="3">
                <span class="brown-dark-m">높음</span>
                <span class="brown-dark-m">(눈치가 보였어요)</span>
            </label>
        </div>
    </div>
    <div class="review_write">
        <div class="review_write_header">
            <span class="brown-dark-l">4. 태그 선택 (최대 4개 선택 가능)</span>
            <span class="brown-light-s">해당 장소를 잘 표현하는 태그를 선택해주세요.</span>
        </div>
        <div class="tage_box_group">
            <label class="tage_box">
                <input type="checkbox" name="tag" value="quiet">
                <span class="subtitle-brown">#조용함</span>
            </label>
            <label class="tage_box">
                <input type="checkbox" name="tag" value="noise">
                <span class="subtitle-brown">#시끄러움</span>
            </label>
            <label class="tage_box">
                <input type="checkbox" name="tag" value="good_atmosphere">
                <span class="subtitle-brown">#분위기좋음</span>
            </label>
            <label class="tage_box">
                <input type="checkbox" name="tag" value="clean">
                <span class="subtitle-brown">#깔끔함</span>
            </label>
            <label class="tage_box">
                <input type="checkbox" name="tag" value="spacious">
                <span class="subtitle-brown">#넓은공간</span>
            </label>
            <label class="tage_box">
                <input type="checkbox" name="tag" value="good_for_study">
                <span class="subtitle-brown">#혼자공부하기좋음</span>
            </label>
            <label class="tage_box">
                <input type="checkbox" name="tag" value="parking_available">
                <span class="subtitle-brown">#주차가능</span>
            </label>
            <label class="tage_box">
                <input type="checkbox" name="tag" value="good_view">
                <span class="subtitle-brown">#뷰좋음</span>
            </label>
            <label class="tage_box">
                <input type="checkbox" name="tag" value="crowded">
                <span class="subtitle-brown">#사람많음</span>
            </label>
            <label class="tage_box">
                <input type="checkbox" name="tag" value="large_tables">
                <span class="subtitle-brown">#테이블넓음</span>
            </label>
            <label class="tage_box">
                <input type="checkbox" name="tag" value="wifi">
                <span class="subtitle-brown">#와이파이빵빵</span>
            </label>
            <label class="tage_box">
                <input type="checkbox" name="tag" value="nice_interior">
                <span class="subtitle-brown">#인테리어예쁨</span>
            </label>
            <label class="tage_box">
                <input type="checkbox" name="tag" value="good_value">
                <span class="subtitle-brown">#가성비좋음</span>
            </label>
            <label class="tage_box">
                <input type="checkbox" name="tag" value="pet_friendly">
                <span class="subtitle-brown">#반려동물가능</span>
            </label>
            <label class="tage_box">
                <input type="checkbox" name="tag" value="good_for_browsing">
                <span class="subtitle-brown">#구경하기좋음</span>
            </label>
            <label class="tage_box">
                <input type="checkbox" name="tag" value="many_solo_visitors">
                <span class="subtitle-brown">#혼자온사람많음</span>
            </label>
        </div>
    </div>
    <div class="review_write">
        <div class="review_write_header">
            <span class="brown-dark-l">5. 어떤 레벨에 추천하시나요?</span>
            <span class="brown-light-s">혼자 방문하는 난이도를 기준으로 추천 레벨을 선택해주세요.</span>
        </div>
        <div class="recommended_level_box_group">
            <label class="recommended_level_box">
                <input type="radio" name="level" value="1">
                <span class="brown-dark-l">Lv.1</span>
                <div class="level_box_content">
                    <span class="brown-dark-m">혼놀 초보자도</span>
                    <span class="brown-dark-m">편하게 가능!</span>
                </div>
            </label>
            <label class="recommended_level_box">
                <input type="radio" name="level" value="2">
                <span class="brown-dark-l">Lv.2</span>
                <div class="level_box_content">
                    <span class="brown-dark-m">혼자 가기</span>
                    <span class="brown-dark-m">부담 없어요</span>
                </div>
            </label>
            <label class="recommended_level_box">
                <input type="radio" name="level" value="3">
                <span class="brown-dark-l">Lv.3</span>
                <div class="level_box_content">
                    <span class="brown-dark-m">보통이에요</span>
                    <span class="brown-dark-m">괜찮아요</span>
                </div>
            </label>
            <label class="recommended_level_box">
                <input type="radio" name="level" value="4">
                <span class="brown-dark-l">Lv.4</span>
                <div class="level_box_content">
                    <span class="brown-dark-m">약간 눈치가</span>
                    <span class="brown-dark-m">보일 수 있어요</span>
                </div>
            </label>
            <label class="recommended_level_box">
                <input type="radio" name="level" value="5">
                <span class="brown-dark-l">Lv.5</span>
                <div class="level_box_content">
                    <span class="brown-dark-m">혼자 가기</span>
                    <span class="brown-dark-m">어려울 수 있어요</span>
                </div>
            </label>
        </div>
    </div>
    <div class="review_write">
        <div class="review_write_header">
            <span class="brown-dark-l">6. 키오스크</span>
        </div>
        <div class="kiosk_box_group">
            <label class="kiosk_box">
                <input type="radio" name="kiosk" value="yes">
                <span class="subtitle-brown">있음</span>
            </label>
            <label class="kiosk_box">
                <input type="radio" name="kiosk" value="no">
                <span class="subtitle-brown">없음</span>
            </label>
        </div>
    </div>
    <div class="review_write">
        <div class="review_write_header">
            <span class="brown-dark-l">7. 1인용 좌석</span>
        </div>
        <div class="sole_seat_box_group">
            <label class="sole_seat_box">
                <input type="radio" name="sole_seat" value="yes">
                <span class="subtitle-brown">있음</span>
            </label>
            <label class="sole_seat_box">
                <input type="radio" name="sole_seat" value="no">
                <span class="subtitle-brown">없음</span>
            </label>
        </div>
    </div>
    <div class="review_write">
        <div class="review_write_header">
            <span class="brown-dark-l">8. 콘센트</span>
        </div>
        <div class="power_outlet_box_group">
            <label class="power_outlet_box">
                <input type="radio" name="power_outlet" value="yes">
                <span class="subtitle-brown">있음</span>
            </label>
            <label class="power_outlet_box">
                <input type="radio" name="power_outlet" value="no">
                <span class="subtitle-brown">없음</span>
            </label>
        </div>
    </div>
    <div class="review_write">
        <div class="review_write_header">
            <span class="brown-dark-l">9. 와이파이</span>
        </div>
        <div class="wife_box_group">
            <label class="wife_box">
                <input type="radio" name="wifi" value="yes">
                <span class="subtitle-brown">있음</span>
            </label>
            <label class="wife_box">
                <input type="radio" name="wifi" value="no">
                <span class="subtitle-brown">없음</span>
            </label>
        </div>
    </div>
    <div class="review_write">
        <div class="review_write_header">
            <span class="brown-dark-l">10. 장소 별점</span>
            <span class="brown-light-s">해당 장소의 별점을 적어주세요!</span>
        </div>
        <div class="place_rating">
            <input id="star1" type="radio" name="place_rating" value="1">
            <label for="star1"></label>
            <input id="star2" type="radio" name="place_rating" value="2">
            <label for="star2"></label>
            <input id="star3" type="radio" name="place_rating" value="3">
            <label for="star3"></label>
            <input id="star4" type="radio" name="place_rating" value="4">
            <label for="star4"></label>
            <input id="star5" type="radio" name="place_rating" value="5">
            <label for="star5"></label>
        </div>
    </div>
    <div class="review_write">
        <div class="review_write_header">
            <span class="brown-dark-l">11. 한줄 후기 작성</span>
            <span class="brown-light-s">이 장소를 한 줄로 표현한다면?</span>
        </div>
        <textarea name="review" class="real_review" placeholder="예) 조용하고 집중이 잘 되는 카페였어요!"></textarea>
    </div>
</div>
<div class="review_button">
    <button type="button" id="draft-button">임시저장</button>
    <button type="submit" id="save-button">저장하기</button>
</div>
</form>
</div>
<div class="save-popup" id="save-popup">

    <div class="popup-main">
        <img class="popup-image" src="{% static 'images/chick-stage-3.png' %}">
        <span class="save-popup-content">저장되었습니다.</span>
        <div class="popup-button-group">
            <a href="{% url 'mypage' %}" class="popup-button brown-light-l">마이페이지로</br>이동하기</a>
            <a href="{% url 'main' %}" class="popup-button brown-light-l">메인페이지로</br>이동하기</a>
        </div>
=======
    <div>
        <a href="{% url 'mypage' %}">마이페이지로 이동하기</a>
        <a href="{% url 'main' %}">메인페이지로 이동하기</a>

    </div>
</div>
<script src="{% static 'js/createreview.js' %}"></script>
{% endblock %}