{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/createreview.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
<div class="review_page_body">
<div class="review_header">
    <span class="title-brown">후기 작성</span>
    <span class="subtitle-brown">다른 혼놀러들을 위해 솔직한 후기를 남겨주세요!</span>
    
    <!-- 장소 DB내용으로 변경 필요-->
    <span class="subtitle-brown"><i class="fa-solid fa-location-dot"></i>  장소 정보: {{ place.name }}</span>
</div>
<form method="post" id="review-form">
    {% csrf_token %}
<div class="review_main">
    <div class="review_write">
        <div class="review_write_header">
            <span class="brown-dark-l">1. 방문 시간대</span>
            <span class="brown-light-s">해당 장소에 있었던 시간대를 모두 선택해주세요.</span>
        </div>
        <div class="time_box_group">
            {% for vt in visit_times %}
            <label class="time_box">
                <input type="checkbox" name="visit_times" value="{{ vt.id }}" class="time_checkbox">
                <span class="subtitle-brown">{{ vt.name}}</span>
            </label>
            {% endfor %}
        </div>
    </div>
    <div class="review_write">
        <div class="review_write_header">
            <span class="brown-dark-l">2. 방문 목적 (복수 선택 가능)</span>
            <span class="brown-light-s">해당 장소를 방문한 목적을 선택해주세요.</span>
        </div>
        <div class="purpose_box_group">
            {% for pp in purposes %}
            <label class="purpose_box">
                <input type="checkbox" name="purposes" value="{{ pp.id }}">
                <span class="subtitle-brown">{{ pp.name }}</span>
            </label>
            {% endfor %}
        </div>
    </div>
    <div class="review_write">
        <div class="review_write_header">
            <span class="brown-dark-l">3. 눈치지수</span>
            <span class="brown-light-s">혼자 있는 동안 눈치가 많이 보였나요?</span>
        </div>
        <div class="sense_score_box_group">
            <label class="sense_score_box">
                <input type="radio" name="nunchi_score" value="1">
                <span class="brown-dark-m">낮음</span>
                <span class="brown-dark-m">(괜찮았어요)</span>
            </label>
            <label class="sense_score_box">
                <input type="radio" name="nunchi_score" value="2">
                <span class="brown-dark-m">보통</span>
                <span class="brown-dark-m">(그저 그래요)</span>
            </label>
            <label class="sense_score_box">
                <input type="radio" name="nunchi_score" value="3">
                <span class="brown-dark-m">높음</span>
                <span class="brown-dark-m">(눈치가 보였어요)</span>
            </label>
        </div>
    </div>
    <div class="review_write">
        <div class="review_write_header">
            <span class="brown-dark-l">4. 태그 선택 (최대 4개 선택 가능)</span>
            <span class="brown-light-s">해당 장소를 잘 표현하는 태그를 선택해주세요.</span>
        </div>
        <div class="tage_box_group">
            {% for t in tags %}
            <label class="tage_box">
                <input type="checkbox" name="tags" value="{{ t.id }}">
                <span class="subtitle-brown">#{{ t.name }}</span>
            </label>
            {% endfor %}
        </div>
    </div>
    <div class="review_write">
        <div class="review_write_header">
            <span class="brown-dark-l">5. 어떤 레벨에 추천하시나요?</span>
            <span class="brown-light-s">혼자 방문하는 난이도를 기준으로 추천 레벨을 선택해주세요.</span>
        </div>
        <div class="recommended_level_box_group">
            <label class="recommended_level_box">
                <input type="radio" name="recommended_level" value="1">
                <span class="brown-dark-l">Lv.1</span>
                <div class="level_box_content">
                    <span class="brown-dark-m">혼놀 초보자도</span>
                    <span class="brown-dark-m">편하게 가능!</span>
                </div>
            </label>
            <label class="recommended_level_box">
                <input type="radio" name="recommended_level" value="2">
                <span class="brown-dark-l">Lv.2</span>
                <div class="level_box_content">
                    <span class="brown-dark-m">혼자 가기</span>
                    <span class="brown-dark-m">부담 없어요</span>
                </div>
            </label>
            <label class="recommended_level_box">
                <input type="radio" name="recommended_level" value="3">
                <span class="brown-dark-l">Lv.3</span>
                <div class="level_box_content">
                    <span class="brown-dark-m">보통이에요</span>
                    <span class="brown-dark-m">괜찮아요</span>
                </div>
            </label>
            <label class="recommended_level_box">
                <input type="radio" name="recommended_level" value="4">
                <span class="brown-dark-l">Lv.4</span>
                <div class="level_box_content">
                    <span class="brown-dark-m">약간 눈치가</span>
                    <span class="brown-dark-m">보일 수 있어요</span>
                </div>
            </label>
            <label class="recommended_level_box">
                <input type="radio" name="recommended_level" value="5">
                <span class="brown-dark-l">Lv.5</span>
                <div class="level_box_content">
                    <span class="brown-dark-m">혼자 가기</span>
                    <span class="brown-dark-m">어려울 수 있어요</span>
                </div>
            </label>
        </div>
    </div>
    <div class="review_write">
        <div class="review_write_header">
            <span class="brown-dark-l">6. 키오스크</span>
        </div>
        <div class="kiosk_box_group">
            <label class="kiosk_box">
                <input type="radio" name="has_kiosk" value="yes">
                <span class="subtitle-brown">있음</span>
            </label>
            <label class="kiosk_box">
                <input type="radio" name="has_kiosk" value="no">
                <span class="subtitle-brown">없음</span>
            </label>
        </div>
    </div>
    <div class="review_write">
        <div class="review_write_header">
            <span class="brown-dark-l">7. 1인용 좌석</span>
        </div>
        <div class="sole_seat_box_group">
            <label class="sole_seat_box">
                <input type="radio" name="has_single_seat" value="yes">
                <span class="subtitle-brown">있음</span>
            </label>
            <label class="sole_seat_box">
                <input type="radio" name="has_single_seat" value="no">
                <span class="subtitle-brown">없음</span>
            </label>
        </div>
    </div>
    <div class="review_write">
        <div class="review_write_header">
            <span class="brown-dark-l">8. 콘센트</span>
        </div>
        <div class="power_outlet_box_group">
            <label class="power_outlet_box">
                <input type="radio" name="has_con" value="yes">
                <span class="subtitle-brown">있음</span>
            </label>
            <label class="power_outlet_box">
                <input type="radio" name="has_con" value="no">
                <span class="subtitle-brown">없음</span>
            </label>
        </div>
    </div>
    <div class="review_write">
        <div class="review_write_header">
            <span class="brown-dark-l">9. 와이파이</span>
        </div>
        <div class="wife_box_group">
            <label class="wife_box">
                <input type="radio" name="has_wifi" value="yes">
                <span class="subtitle-brown">있음</span>
            </label>
            <label class="wife_box">
                <input type="radio" name="has_wifi" value="no">
                <span class="subtitle-brown">없음</span>
            </label>
        </div>
    </div>
    <div class="review_write">
        <div class="review_write_header">
            <span class="brown-dark-l">10. 장소 별점</span>
            <span class="brown-light-s">해당 장소의 별점을 적어주세요!</span>
        </div>
        <div class="place_rating">
            <input id="star1" type="radio" name="rating" value="1">
            <label for="star1"></label>
            <input id="star2" type="radio" name="rating" value="2">
            <label for="star2"></label>
            <input id="star3" type="radio" name="rating" value="3">
            <label for="star3"></label>
            <input id="star4" type="radio" name="rating" value="4">
            <label for="star4"></label>
            <input id="star5" type="radio" name="rating" value="5">
            <label for="star5"></label>
        </div>
    </div>
    <div class="review_write">
        <div class="review_write_header">
            <span class="brown-dark-l">11. 한줄 후기 작성</span>
            <span class="brown-light-s">이 장소를 한 줄로 표현한다면?</span>
        </div>
        <textarea name="content" class="real_review" placeholder="예) 조용하고 집중이 잘 되는 카페였어요!"></textarea>
    </div>
</div>
<div class="review_button">
    <button type="button" id="draft-button">임시저장</button>
    <button type="submit" id="save-button">저장하기</button>
</div>
</form>
</div>
<div class="save-popup" id="save-popup">

    <div class="popup-main">
        <img class="popup-image" src="{% static 'images/chick-stage-3.png' %}">
        <span class="save-popup-content">저장되었습니다.</span>
        <div class="popup-button-group">
            <a href="{% url 'mypage' %}" class="popup-button brown-light-l">마이페이지로</br>이동하기</a>
            <a href="{% url 'main' %}" class="popup-button brown-light-l">메인페이지로</br>이동하기</a>
        </div>
    </div>
</div>
<script src="{% static 'js/createreview.js' %}"></script>
{% endblock %}