{% extends 'base.html' %}
{% load static %}

{% block title %}마이페이지 | Soload{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/mypage.css' %}">
<main class = "mypage">
    <section class = "mypage_profile-section">
        <div class = "mypage_character-card">
            <img src="{{ user_profile.character_image }}" alt="{{ user_profile.level_name}}" class="mypage_character-image">
        </div>

        <div class = "mypage_level-info">
            <span class = "mypage_level-title brown-dark-xl">
                나의 레벨 : {{ user_profile.level_name}} (LV.{{ user_profile.level }})
            </span>

            <span class = "mypage_level-discription brown-light-m">
                후기를 작성하고 레벨을 올려보세요!
            </span>

            <span class = "mypage_exp-text brown-light-l">
                다음 레벨까지 {{ user_profile.current_exp }} / {{ user_profile.required_exp}} EXP
            </span>

            <div class = "mypage_progress">
                <div class = "mypage_progress-fill"></div>
            </div>
        </div>
    </section>

    <section class = "mypage_activity-section">
        <section class = "growth-section">
            <div class = "growth-section_title">병아리 성장단계</div>
            <div class = "growth-stage-list">
                <div class = "growth-stage">
                    <img src="{% static 'images/chick-stage-1.png' %}" alt = "1단계 병아리">
                </div>
                <div class = "growth-stage">
                    <img src="{% static 'images/chick-stage-2.png' %}" alt = "2단계 병아리">
                </div>
                <div class = "growth-stage">
                    <img src="{% static 'images/chick-stage-3.png' %}" alt = "3단계 병아리">
                </div>
                <div class = "growth-stage">
                    <img src="{% static 'images/chick-stage-4.png' %}" alt = "4단계 병아리">
                </div>
                <div class = "growth-stage">
                    <img src="{% static 'images/chick-stage-5.png' %}" alt = "5단계 병아리">
                </div>
            </div>

            <div class = "brown-light-l">
                레벨을 올리고 새로운 병아리를 만나보세요!
            </div>
        </section>

        <section class = "mypage_menu-section">
            <div class="activity_content">
                <span class="title-brown">내 활동 보기</span>
            </div>

            <div class="activity_button-group">
                <button type="button" class = "mypage_menu-button" id="saved-place-button">
                    장소 찜<br>
                    목록
                </button>

                <button type="button" class = "mypage_menu-button" id="review-collection-button">
                    작성 후기<br>
                    모아보기
                </button>
            </div>
        </section>
    </section>


    <div class="saved-place-modal" id="saved-place-modal">
        <div class="saved-place-modal-content">
            <div class="saved-place-modal-title">
                장소 찜 목록
            </div>

            <div class="saved-place-card-list">
                <a href="{% url 'placeinfo' 1 %}" class="saved-place-card">
                    <span class="saved-place-tag">Lv.3 추천</span>
                    <div class="saved-place-image">사진</div>

                    <div class="saved-place-body">
                        <strong>한적한 북카페</strong>
                        <p>카페 · 서울 마포구</p>
                    </div>
                </a>

                <a href="{% url 'placeinfo' 1 %}" class="saved-place-card">
                    <span class="saved-place-tag">Lv.3 추천</span>
                    <div class="saved-place-image">사진</div>

                    <div class="saved-place-body">
                        <strong>한적한 북카페</strong>
                        <p>카페 · 서울 마포구</p>
                    </div>
                </a>

                <a href="{% url 'placeinfo' 1 %}" class="saved-place-card">
                    <span class="saved-place-tag">Lv.3 추천</span>
                    <div class="saved-place-image">사진</div>

                    <div class="saved-place-body">
                        <strong>한적한 북카페</strong>
                        <p>카페 · 서울 마포구</p>
                    </div>
                </a>
            </div>

            <button type="button" class="saved-place-close-button" id="saved-place-close-button">
                닫기
            </button>
        </div>
    </div>


    <div class="review-collection-modal" id="review-collection-modal">
        <div class="review-collection-modal-content">
            <div class="review-collection-modal-title">
                작성 후기 모아보기
            </div>

            <div class="review-collection-list">
                <a href="{% url 'placeinfo' 1 %}" class="review-collection-item">
                    <span class="review-place-name">
                        어글리 베이커리 연남점
                    </span>

                    <span class="review-visit-date">
                        방문 : 2026.01.01
                    </span>
                </a>

                <a href="{% url 'placeinfo' 1 %}" class="review-collection-item">
                    <span class="review-place-name">
                        어글리 베이커리 연남점
                    </span>

                    <span class="review-visit-date">
                        방문 : 2026.01.01
                    </span>
                </a>

                <a href="{% url 'placeinfo' 1 %}" class="review-collection-item">
                    <span class="review-place-name">
                        어글리 베이커리 연남점
                    </span>

                    <span class="review-visit-date">
                        방문 : 2026.01.01
                    </span>
                </a>

            </div>

            <button type="button" class="review-collection-close-button" id="review-collection-close-button">
                닫기
            </button>
        </div>
    </div>

</main>

<script src="{% static 'js/mypage.js' %}"></script>
{% endblock %}