.navbar {
    width: 100%;
    height: 87px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 40px;

    background-color: #FFFBEA;
    

    box-sizing: border-box;
}

.navbar_brand {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.navbar__logo-image {
    height:60px;
    object-fit: contain;
}

.nav-group {
    display: flex;
    align-items: center;
    gap: 36px;
}

.navbar__link {
    display: inline-flex;
    padding: 19px 25px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    color: #713F12;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.navbar__link--active {
    font-weight: 600;
    border-bottom: 3px solid #713F12;
}

body {
    margin: 0;
}