.navbar {
    width: 100%;
    height: 87px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 40px;

    background-color: #d9d9d9;
    border-bottom: 2px solid #d0d0d0;

    box-sizing: border-box;
}

.navbar_brand {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.navbar__logo-image {
    height:60px;
    object-fit: contain;
}

.nav-group {
    display: flex;
    align-items: center;
    gap: 36px;
}

.navbar__link {
    position: relative;

    color: #111;
    font-size: 32px;
    font-weight: 400;
    text-decoration: none;
    padding-bottom: 8px;
}

.navbar__link--active {
    font-weight: 600;
    border-bottom: 3px solid #111;
}

body {
    margin: 0;
}