.mypage{
    width: 100%;

    display: grid;
    grid-template-columns: 320px 1fr;
    gap: 32px;
    padding: 64px;

    box-sizing: border-box;


}
.mypage_activity-section{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.mypage_profile-section {
    display: flex;
    flex-direction: column;
    gap: 24px;
    border-radius: 25px;
}

.mypage_character-card {
    height: 340px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background: var(--light, #FFFBEA);

}

.mypage_character-image{
    width: 220px;
    height: 220px;

    object-fit: contain;
}

.mypage_level-info{
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding-top: 10px;
}

.mypage_level-title{
    font-weight: 700;
}

.mypage_exp-text{
    font-weight: 500;
    padding-top: 5px;
    padding-bottom: 5px;
}

.mypage_progress{
    width: 100%;
    height: 14px;

    background-color: #ECECEC;

    border-radius: 999px;
    overflow: hidden;
}

.mypage_progress-fill{
    height: 100%;
    background-color: var(--g-normal, #A5DD2B);

    border-radius: 999px;
}

.growth-section{
    padding: 32px;
    background-color: var(--light, #FFFBEA);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
}

.growth-section_title{
    margin-bottom: 32px;
    color: var(--darker, #713F12);
    font-size: 32px;
    font-weight: 700;
}

.growth-stage-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    margin-bottom: 32px;
}

.growth-stage img {
    width: 120px;
    height: 120px;

    object-fit: contain;
}

.growth-stage--active{
    padding: 12px;

    border: 2px solid var(--text-green-light);
    border-radius: 24px;
}

.growth-section_description{
    text-align: center;
    font-size: 18px;
    color: var(--darker, #713F12);
}

.mypage_menu-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 350px;
    height: 110px;
    background-color: var(--light, #FFFBEA);
    padding: 32px;
    border-radius: 25px;
}
.activity_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.activity_button-group{
    display: flex;
    flex-direction: row;
    gap: 40px;
}
.mypage_activity-button{
    border: none;
    background: transparent;

    font-size: 36px;
    font-weight: 700;

    cursor: pointer;
}

.mypage_menu-button{
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    text-decoration: none;
    background-color: white;

    color: var(--darker, #713F12);
    border: 1px solid var(--normal, #FDE047);
    border-radius: 25px;
    width: 150px;
    height: 100px;
    font-size: 20px;
    font-weight: 500;
}

.mypage_menu-button:hover{
    background-color: var(--bg-main);
}


.saved-place-modal {
    position: fixed;
    inset: 0;
    z-index: 999;

    display: none;
    justify-content: center;
    align-items: center;

    
    background: rgba(0, 0, 0, 0.3);

}

.saved-place-modal.active {
    display: flex;
}

.saved-place-modal-content {
    width: 620px;
    min-height: 460px;

    padding: 44px 56px 32px;

    background: var(--light, #FFFBEA);

    display: flex;
    flex-direction: column;
    align-items: center;

    box-sizing: border-box;
}

.saved-place-modal-title {
    width: 100%;

    margin-bottom: 56px;
    color: var(--darker, #713F12);

    font-size: 28px;
    font-weight: 700;
}

.saved-place-card-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;

    width: 100%;
}

.saved-place-card {
    position: relative;
    min-height: 210px;
    background: var(--light, #FFFBEA);
    text-decoration: none;
    color: inherit;

    display: flex;
    flex-direction: column;

    overflow: hidden;
}

.saved-place-tag {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 2;

    padding: 4px 8px;

    border: 1px solid #111111;
    border-radius: 999px;

    background: #ffffff;
    color: #111111;
    font-size: 11px;
    font-weight: 600;
}

.saved-place-image {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;

    border-bottom: 1px solid #999999;
    color: #111111;
    font-size: 22px;
    font-weight: 500;
}
.saved-place-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.saved-place-body{
    padding: 14px 12px;
}

.saved-place-body strong {
    display: block;
    margin-bottom: 8px;
    color: #111111;
    font-size: 14px;
    font-weight: 700;
}

.saved-place-body p {
    margin: 0;
    color: #333333;
    font-size: 12px;
    font-weight: 400;
}

.saved-place-close-button {
    width: 90px;
    height: 48px;

    margin-top: 36px;

    border: none;
    background: #ffffff;

    color: #111111;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

button{
    border: none;
    outline: none;
}


.review-collection-modal {
    position: fixed;
    inset: 0;
    z-index: 999;

    display: none;
    justify-content: center;
    align-items: center;

    
    background: rgba(0, 0, 0, 0.3);
}

.review-collection-modal.active {
    display: flex;
}

.review-collection-modal-content {
    width: 620px;
    min-height: 460px;

    padding: 48px 56px 32px;

    background: var(--light, #FFFBEA);

    display: flex;
    flex-direction: column;
    align-items: center;

    box-sizing: border-box;
}

.review-collection-modal-title {
    width: 100%;
    margin-bottom: 56px;
    color: #111111;
    font-size: 28px;
    font-weight: 700;
}

.review-collection-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.review-collection-item {
    width: 100%;
    height: 64px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;

    border-radius: 18px;

    background: #ffffff;

    color: #111111;
    text-decoration: none;

    box-sizing: border-box;
}

.review-place-name {
    font-size: 20px;
    font-weight: 600;
}

.review-visit-date {
    font-size: 13px;
    font-weight: 500;
}

.review-collection-close-button {
    width: 90px;
    height: 48px;

    margin-top: 48px;

    border: none;
    outline: none;

    background: #ffffff;

    color: #111111;
    font-size: 18px;
    font-weight: 500;

    cursor: pointer;
}