.mypage{
    width: 100%;

    display: grid;
    grid-template-columns: 320px 1fr;
    gap: 32px;
    padding: 64px;

    box-sizing: border-box;


}

.mypage_profile-section {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.mypage_character-card {
    height: 340px;
    display: flex;
    justify-content: center;
    align-items: center;

    background: #d9d9d9;

}

.mypage_character-image{
    width: 220px;
    height: 220px;

    object-fit: contain;
}

.mypage_level-info{
    display: flex;
    flex-direction: column;
}

.mypage_level-title{
    color: black;

    font-size: 32px;
    font-weight: 700;

    margin-bottom: 12px;
}

.mypage_level-discription{
    color: #666;
    font-size: 16px;
    margin-bottom: 20px;
}

.mypage_exp-text{
    color: black;

    font-size: 18px;
    font-weight: 500;

    margin-bottom: 10px;
}

.mypage_progress{
    width: 100%;
    height: 14px;

    background-color: #ECECEC;

    border-radius: 999px;
    overflow: hidden;
}

.mypage_progress-fill{
    width: 40%;
    height: 100%;
    background-color: #000000;

    border-radius: 999px;
}

.growth-section{
    padding: 32px;
    background-color: #d9d9d9;
}

.growth-section_title{
    margin-bottom: 32px;

    font-size: 32px;
    font-weight: 700;
}

.growth-stage-list{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 32px;
}

.growth-stage img {
    width: 120px;
    height: 120px;

    object-fit: contain;
}

.growth-stage--active{
    padding: 12px;

    border: 4px solid black;
    border-radius: 24px;
}

.growth-section_description{
    text-align: center;
    font-size: 18px;
    color: #555;
}

.mypage_menu-section{
    display: grid;
    grid-template-columns: 1fr 180px 180px;
    gap: 24px;
    height: 180px;
    background-color: #d9d9d9;
    padding: 32px;
}

.mypage_activity-button{
    border: none;
    background: transparent;

    font-size: 36px;
    font-weight: 700;

    cursor: pointer;
}

.mypage_menu-button{
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    text-decoration: none;
    background-color: white;

    color: black;

    font-size: 28px;
    font-weight: 600;
}

.mypage_menu-button:hover{
    background-color: #f3f3f3;
}

