# Python
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/
env/
ENV/

# Django
.env
*.log
db.sqlite3
staticfiles/

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# Visual Studio Code
.vscode/
