{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/lastpage.css' %}">

<main class="lastpage">
    <section class="result-card">
        <div class="result-text-box">
            <div class="result-title">
                당신의 레벨은<br>
                <div class="result-profile">{{user_profile.level}} {{user_profile.level_name}}</div><br>
                입니다
            </div>
        </div>

        <div class="result-character-box">
            <img src="{{ user_profile.character_image.url }}" alt="{{ user_profile.level_name }}" class="result-charcter-image">
        </div>

        <a href="{% url 'main' %}" class="soload-start-button">
            솔로드 시작하기
        </a>
    </section>
</main>
{% endblock %}